body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column; /* 垂直居中排列 */
    font-family: Arial, sans-serif; /* 設定字體 */
}

#title {
    font-size: 24px;
    margin-bottom: 20px;
}

#login {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px; /* 設定登入區域的寬度 */
}

/* 調整 label 和 input 的樣式 */
#login label {
    text-align: center;
    display: inline-block;
    width: 30%; /* 調整標籤的寬度 */
    margin-right: 1%; /* 調整標籤與輸入框之間的間距 */
}

#login input[type="text"],
#login input[type="password"],
#login input[type="email"] {
    width: 60%; /* 調整輸入框的寬度 */
    padding: 8px; /* 調整輸入框的內邊距 */
    margin-bottom: 10px; /* 調整輸入框間的間距 */
    border-radius: 3px; /* 圓角 */
    border: 1px solid #ccc; /* 邊框 */
}

#login input[type="submit"],
#login button[type="button"] {
    width: 100%; /* 讓提交按鈕填滿整個寬度 */
    padding: 10px; /* 調整按鈕的內邊距 */
    border: none; /* 移除按鈕邊框 */
    background-color: #c7c7c7; /* 按鈕背景顏色 */
    color: black; /* 文字顏色 */
    border-radius: 10px; /* 圓角 */
    cursor: pointer; /* 鼠標指針 */
    transition: background-color 0.3s; /* 平滑過渡效果 */

    font-weight: bold; /* 變為粗體 */
    font-size: 14px; /* 調大文字大小 */
}

#login input[type="submit"]:hover {
    background-color: #aaaaaa; /* 鼠標懸停時的背景顏色 */
}

#login button[type="button"]:hover {
    background-color: #aaaaaa; /* 鼠標懸停時的背景顏色 */
}