body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
}

#order-details {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#order-details div {
    margin-bottom: 10px;
}

#submitOrderBtn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #c7c7c7;
    color: black;
    font-size: 14px;
    font-weight: bold; /* 變為粗體 */
    cursor: pointer;
    transition: background-color 0.3s; /* 平滑過渡效果 */
}

#submitOrderBtn:hover {
    background-color: #aaaaaa;
}

header {
    background-color: #134f6c;
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
}

/* 將連結放置在左邊 */
.left-link {
    margin-right: 0;
    padding-left: 20px;
    float: left;
}

/* 將連結放置在右邊 */
.right-link {
    padding-right: 0px;
    float: right;
}

/* 清除浮動，確保 header 的高度正確 */
nav:after {
    content: "";
    display: table;
    clear: both;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li div{
    display: inline;
    padding-right: auto;
}

footer {
    background-color: #134f6c;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}