body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #134f6c;
    color: #fff;
    top: 0;
    padding: 20px;
}

/* 將連結放置在左邊 */
.left-link {
    margin-right: 20px;
    float: left;
}

/* 將連結放置在右邊 */
.right-link {
    margin-right: 0;
    margin-left: 20px;
    float: right;
}

/* 清除浮動，確保 header 的高度正確 */
nav:after {
    content: "";
    display: table;
    clear: both;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li div{
    display: inline;
    padding-right: auto;
}

main {
    overflow-y: auto;
    padding-top: 30px; /* 使內容遠離header */
    padding-bottom: 150px; /* 使內容遠離footer */
}

footer {
    background-color: #134f6c;
    color: #fff;
    text-align: center;
    padding: 5px;
    position:fixed;
    bottom: 0;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* 每筆訂單的外框 */
.order-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

/* 訂單內容 */
.order-details {
    /* 訂單細節的樣式 */
    font-size: 16px;
    /* 添加更多樣式來美化訂單內容 */
}

/* 訂單時間戳 */
.timestamp {
    color: #888;
    font-style: italic;
    font-size: 14px;
    /* 添加更多樣式來美化時間戳 */
}